Page{
width: 100%;
height:100%;
}

main_body{
display: grid;
  grid-template-columns: 252px 795px 350px;

}
main_bodyC{

display: flex;
flex-direction: column;
}
main-bodyR{
display: flex;
flex-direction: column;
}
.Placeholder1 {
  border-color: black;
  width: 795px;
  height: 287px;

}

.Placeholder2 {
border-color: black;
  width: 277px;
  height: 395px;

}