.Page{
width: 100%;
height:100%;
}

.main_body{
display: grid;
  grid-template-columns: 252px 795px 360px;

}
.main_bodyC{

display: flex;
flex-direction: column;
margin-right: 100px;
}
.main-bodyR{
display: flex;
flex-direction: column;
width:330px;
margin-left: 100px;
}
.Placeholder1 {
  border-color: black;
  width: 790px;
  height: 287px;

}

.Placeholder2 {
border-color: black;
  width: 277px;
  height: 395px;

}
.Active{
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
Form{
  width: 990px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  
}
.Form_h{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.Services{
  margin-top:1200px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Service_Top{
  display: flex;
  justify-content: space-between;
}
.Service_Top button{
  width:120px;
  height: 50px;
  margin-left: 800px;
}
.LCardL{
  margin-left: 50px;
  width:390px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.L_card{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}
.LCardR img{
  width: 900px;
  height: 955px;
  
}