.nav_bar{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    height:952px;
    width:72px;
    margin-top: 84px;
    margin-left:10px;
    margin-right:500px;

}
.icons{
    width: 32px;
    height: 32px;
}
.Top_bar{
    width:1000px;
    height:72px;
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    z-index: 100;
}
.Row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo{
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 20px;

}
.right{
    display: flex;
    justify-content: space-between;

}
.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    width: 90%;
    height: 90%;
    margin-left: 20px;
}
.card_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height:50%;
  

}
.rate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-left: 10px;
}
.rate img{
    align-self: flex-start;
    margin-left:10px;
}
.cards{
    display: flex;
    justify-content:space-between;
    width:795px;
    height:83px;
    margin-top: 20px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card img{
    align-self: flex-end;
}
.Grid_row{
    display: flex;
    justify-content: space-around;
}
.his_div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}
.history{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:301px;
    height:55px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.his_image{
    margin-right: 10px;
}
.Field{
    width: 985px;
    
}